<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
            <h1>New Item</h1>
    <form action="/product" method="POST">
        <label>Item:
            <input type="text" name="name">
        </label>
        <br>
        <label>Description:
            <input type="text" name="description">
        </label>
        <br>
        <label>Image:
            <input type="img" name="img">
        </label>
        <br>
        <label>Quantity:
            <input type="number" name="qty">
        </label>
        <br>
        <label>Price:
            <input $ type="number" name="price">
        </label>
        <br>
        <input type="submit" value="Add Product">
    </form>
    <a href="/product"><button>Home</button></a>

</body>
</html>